/*Master Styles*/
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
p{
	font-size: 20px;
	font-family: Arial;
	text-align: center;
}
label{
	font-size: 20px;
	font-family: Arial;	
}
input{
	width: 250px;
	height: 40px;
	margin: 10px;
	border: 2px gray dotted;
	border-radius: 8px;
	font-family: Arial;
	font-size: 18px;
	padding: 0 5px 0 10px;
}